body{
	margin: 0;
}
li{
	list-style: none;
	float: left;
	border: 1px solid black;
	padding: 5px;
	background-color:#2244ff;
	margin: 10px;
	border-radius: 5px;
	font-size: 18px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
ul{
	margin
}
h2{	
	margin: 0;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
	color: #acd1b2;
}
table {
	border: #000000 1px solid;
	background-color: #acd1b2;
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.header{
	position: relative;
	width: 100%;
	background-color: #f2f2f2;
}
.nav{
	position: fixed;
	width: 100%;
	top: -20px;
	padding: 0 20px 20px; 
}
.content{
	position: relative;
	background-color: #f2f2f2;

}
.left{
	float: left;
	width: 49%;
}
.left img{
	float: left;
	padding-right: 10px;
}

.right{
	float: right;
	width: 49%;

}
.right table img{
	width: 50%;
	height: auto;
}
.footer{
	clear: both;
	border:2px solid grey; 
	background-color: #3d3d3d;
	padding: 20px;
	position: relative;
		border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 100px;
	background-color: #0f0f0f;
	
}
.clear{
	clear: both;
}
.footer button{
	padding:10px;
	float: right;
	background-color: #ffff00;
	border-radius:10px;
	box-shadow: 0 5px 3px rgba(0,0,0,0.5);
	position: relative;
	top:- 20px;
}
.left p{
	padding: 10px;
}
table img{
	width: 80px;
	height: 80px;
}